# Ignore all files and folders by default
*

# Allow specific project files
!app.py
!requirements.txt
!.gitignore
!images.png
!NODES_Logo.png
!temperature.png
!Humidity.png
!CO.png
!electricity.png
!forecast.png
!Notification.png

# Ignore system files and directories
.DS_Store
*.log
*.exe
*.dll
node_modules/
.anaconda/
.AppData/
